.el-table tbody .el-table__row--striped td {
  background: #fafafaff !important;
}

.el-table tbody {
  .current-row td {
    // .cell {
    //   color: #fff !important;
    // }

    background-color: rgba(236, 247, 253) !important;
  }

  .hover-row td {
    // .cell {
    //   color: #fff !important;
    // }
    background-color: rgba(236, 247, 253) !important;
    // background-color: rgba(59, 130, 246, .2) !important;
  }

  .el-table__row {
    .cell {
      font-size: 14px;
      color: black;
    }

    td {
      // padding: 2px 0;
    }
  }
}

.el-table td,
.el-table th.is-leaf,
.el-table--border,
.el-table--group {
  //border-color: #f2f4fac0;
  border-color: #e8e8e8ff;
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
  //background-color: #fafafa;
  border-color: #e8e8e8ff;
}

.el-table__fixed::before,
.el-table__fixed-right::before {
  background-color: #fafafa;
}

.el-table .el-table__row .cell {
  .el-button {
    padding: 5px !important;
  }

  .el-table__expand-icon {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding-right: 17px;
  }
}

// el-table__expand-icon

.el-table thead tr th {
  // background-color: #fafafa;
  background-color: #f1f1f1;
  color: #000000;
  font-weight: 500;
  font-size: 15px;
  font-family: "Verdana", "Courier New";
  // border-bottom: #4f4f4f;
}

.el-table thead tr {
  border-bottom: #000 !important;
}

.el-table--mini .el-table__cell {
  padding: 4px 0 !important;
}
